img {
  display: block;
  max-width: 100%;
  height: auto;
}


.hero__image,
.full-width-image img,
.artist-portrait img,
.scene-card img {
  width: 100%;
  object-fit: cover; 
  border-radius: var(--radius-sm);
}

.hero__image { height: 300px; }
.artist-portrait img { height: 400px; } 
.scene-card img { height: 250px; }


.grayscale-img {
  filter: grayscale(100%);
}