:root {

  --color-bg: #050505;         
  --color-bg-card-dark: #121212;
  --color-bg-card-light: #FFFFFF;
  --color-input: #D9D9D9;       
  
  --color-text: #FFFFFF;       
  --color-text-dark: #000000;   
  --color-text-muted: #A0A0A0;  

  
  --font-serif: "Playfair Display", serif; 
  --font-sans: "Lato", sans-serif;         

  
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;  
  --text-3xl: 2.5rem;   

  
  --space-sm: 10px;
  --space-md: 20px;
  --space-lg: 40px;
  --space-xl: 80px;

  
  --radius-sm: 8px;
  --radius-md: 15px;    
  --radius-lg: 30px;   
}