.footer {
  background-color: #d12121;;
  padding: var(--space-lg) var(--space-md);
  margin-top: var(--space-xl);
  border-top: 1px solid #1B1B1B;
  font-size: 0.9rem;
}

/* Grille Responsive (1 colonne mobile, 4 colonnes desktop) */
.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
}

@media (min-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
  }
}

/* Navigation verticale (Liens les uns sous les autres) */
.footer-nav {
  display: flex;
  flex-direction: column; /* C'est cette ligne qui met les liens en colonne */
  gap: 15px; /* Espace entre chaque lien */
  font-family: var(--font-serif);
  font-size: 1.1rem;
}

/* Titres de section */
.footer-section h3 {
  font-family: var(--font-sans);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-bottom: var(--space-sm);
  color: var(--color-text);
}

.footer-section p {
  color: var(--color-text-muted);
  line-height: 1.4;
  margin: 0;
}

/* Réseaux sociaux */
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons img {
  width: 24px;
  filter: invert(0);
}

.footer-top {
  display: flex;
  justify-content: space-between; /* Pousse le menu à gauche et le logo à droite */
  align-items: flex-start;        /* Aligne les éléments en haut */
  width: 100%;
  margin-bottom: var(--space-lg);
}


.footer-deco img {
  width: 60px; /* Changez cette valeur pour réduire la taille (ex: 50px, 40px) */
  height: auto;
  filter: invert(1); /* Assure que le logo est blanc sur fond noir */
  
  /* Si vous voulez le coller encore plus à droite */
  display: block;
  margin-left: auto; 
}