.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) var(--space-lg);
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
}

/* Le logo blanc */
.header__logo img {
  height: 40px;
  width: auto;
  filter: invert(1);
}