/* Bouton générique */
button { cursor: pointer; border: none; font-family: inherit; }

/* Bouton "Acheter" (Noir sur fond blanc) */
.btn-buy {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: 700;
}

/* Bouton PDF (Page Programme) */
.btn-pdf {
    background-color: #ddd;
    color: #000;
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: 700;
    display: inline-block;
    font-family: var(--font-serif);
}

/* Bouton Envoyer (Formulaire) */
.btn-submit {
    background-color: #383838;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 10px;
}
.btn-submit:hover { background-color: #555; }