button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

/* Bouton "Acheter" (Noir sur cartes blanches) */
.btn-buy {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 700;
  font-family: var(--font-serif);
}

/* Bouton "Envoyer" (Gris sur formulaire contact) */
.btn-submit {
  background-color: #383838;
  color: #FFFFFF;
  padding: 12px 30px;
  border-radius: 20px;
  font-size: 1rem;
  margin-top: 10px;
  align-self: flex-start;
}

/* Bouton PDF (Gris clair) */
.btn-pdf {
  display: inline-block;
  background-color: #DDDDDD;
  color: #000000;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 700;
  font-family: var(--font-serif);
  margin-top: 10px;
}