.form-container {
  max-width: 500px;
  margin: 0 auto;
}


form {
  background-color: var(--color-bg-card-dark); 
  padding: var(--space-lg);
  border-radius: var(--radius-lg); 
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  margin-left: 10px;
  font-size: 0.9rem;
}

/
input, textarea {
  background-color: var(--color-input); 
  border: none;
  border-radius: var(--radius-md);     
  padding: 12px 20px;
  font-family: var(--font-sans);
  color: #000;
  width: 100%;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

input::placeholder, textarea::placeholder {
  color: #757575;
}

input:focus, textarea:focus {
  outline: 2px solid #fff;
  background-color: #fff;
}