.form-container {
  max-width: 500px;
  margin: 0 auto;
}

/* La "Carte" grise qui contient le formulaire */
form {
  background-color: var(--color-bg-card-dark); /* #121212 */
  padding: var(--space-lg);
  border-radius: var(--radius-lg); /* 30px */
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  margin-left: 10px;
  font-size: 0.9rem;
}

/* Champs de saisie arrondis et gris clair */
input, textarea {
  background-color: var(--color-input); /* #D9D9D9 */
  border: none;
  border-radius: var(--radius-md);      /* 15px */
  padding: 12px 20px;
  font-family: var(--font-sans);
  color: #000;
  width: 100%;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

input::placeholder, textarea::placeholder {
  color: #757575;
}

input:focus, textarea:focus {
  outline: 2px solid #fff;
  background-color: #fff;
}