.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-button span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 2px;
  transition: 0.3s;
}

/* Ajout pour l'ouverture du menu (géré par JS normalement) */
.menu-open .menu-button span:nth-child(1) { transform: rotate(45deg) translate(5px, 5px); }
.menu-open .menu-button span:nth-child(2) { opacity: 0; }
.menu-open .menu-button span:nth-child(3) { transform: rotate(-45deg) translate(5px, -5px); }