.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: relative;
}

.menu-button span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: 0.3s;
}

.menu-button span:nth-child(1) { top: 0; }
.menu-button span:nth-child(2) { top: 50%; transform: translateY(-50%); }
.menu-button span:nth-child(3) { bottom: 0; }