.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.menu-button span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 2px;
  transition: 0.3s;
}

/* Style du menu déroulant (quand il est visible) */
.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-bg);
  padding: 20px;
  /* Ajoutez ici vos styles d'animation si nécessaire */
}