/* Point d'entrée principal */

/* 1. Vendors */
@import "vendors/normalize.css";

/* 2. Utils */
@import "utils/variables.css";

/* 3. Base */
@import "base/main.css";
@import "base/media.css";

/* 4. Layout */
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/section.css";

/* 5. Components */
@import "components/button.css";
@import "components/card.css";   /* Pour les scènes et artistes */
@import "components/form.css";   /* Pour la page contact */
@import "components/input.css";  /* Pour les champs de contact */
@import "components/menu.css";